= simple_form_for user, url: '', html: { name: 'form' } do |f|
  = f.ng_input :name
  = f.input :password, input_html: { 'ng-model':'user.password', value:'' }, required: false
  = f.submit class:'btn btn-primary', 'ng-click':'save(user)', 'ng-disabled':'form.$invalid', onclick:'return false'
  - if user.persisted?
    %button.btn.btn-danger{'ng-click':'delete(user)', onclick:'return false'} Delete
