%div.alert.fade{'flash-alert':'', 'active-class':'in'}
  %strong.alert-heading
  %span.alert-message {{flash.message}}

.row
  %a{'ui-sref':'users'} users
  %a{'ui-sref':'roles'} roles
  %a{'ui-sref':'views'} views
.row
  %div{'ui-view':''}
