= simple_form_for element, url: '', html: { name: 'form' } do |f|
  = f.ng_input :name
  = f.submit class:'btn btn-primary', 'ng-click':'save(element)', 'ng-disabled':'form.$invalid', onclick:'return false'
  - if element.persisted?
    %button.btn.btn-danger{'ng-click':'delete(element)', onclick:'return false'} Delete
