= simple_form_for element, url: '', html: { name: 'form' } do |f|
  = f.ng_input :name
  = f.ng_association :view, include_blank: false
  = f.submit class:'btn btn-primary', 'ng-click':'c.save(c.element)', 'ng-disabled':'form.$invalid', onclick:'return false'
  - if element.persisted?
    %button.btn.btn-danger{'ng-click':'c.delete(c.element)', onclick:'return false'} Delete
