!!!
%html
  %head
    %meta{content:'text/html; charset=UTF-8', 'http-equiv':'Content-Type'}/
    %title D3 demo
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    :coffee
      window.root_path = "#{root_path}"
  %body{'ng-app':'mi'}
    = yield
